openai
whisper
sounddevice
soundfile
langchain
faiss-cpu
PyPDF2
sentence-transformers
python-dotenv
TTS
pyttsx3
langchain
langchain-community
transformers
torch
sentence-transformers
faiss-cpu
whisper
TTS
